// @import url("https://fonts.googleapis.com/css?family=Kanit:200,500&display=swap");

// Primary Font
// @import url("https://rsms.me/inter/inter.css");
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap");

// Mono Font
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

// Headings Font
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap");
