// App Variables
// $st-primary: #266dd3;
$st-primary: #2e3191;
$st-secondary: #043456;
$st-danger: #ca2e55;
$st-warning: #f49d37;
$st-light: #f0f0f0;
$st-dark: #0e1e25;
$st-white: #fcfcfc;
$st-gray: rgba($st-dark, 0.38);
$st-grey: $st-gray;
// $st-gray: #757780;
// $st-background: #222c4c;
// $st-background-alt: #58a4b0;

$st-gradient-1: #2e3191;
$st-gradient-2: #2b004a;
$st-gradient-3: $st-dark;
// $st-gradient-3: #000000;

// $st-gradient-colors: $st-gradient-1, $st-gradient-2, $st-gradient-3;
$st-gradient-colors: $st-gradient-2, $st-gradient-3;
$st-gradient: linear-gradient(to bottom, $st-gradient-colors);

// $bg1: $st-background;
// $bg2: lighten($st-background, 6%);
// $bg3: darken($st-background, 4%);
// $map-fill: transparent;
// $map-stroke: #d6d6da;
$map-fill: transparent;
$map-stroke: $st-gray;
$globe-stroke: rgba($st-light, 0.1);
$map-text: $st-white;
// $map-fill: #eaeaec;
// $map-stroke: #d6d6da;

$st-background: $st-gradient;

$st-colors: (
    "primary": $st-primary,
    "secondary": $st-secondary,
    "danger": $st-danger,
    "warning": $st-warning,
    "light": $st-light,
    "dark": $st-dark,
    "gradient1": $st-gradient-1,
    "gradient2": $st-gradient-2
);

$st-font-body: "Open Sans";
$st-font-headings: "Open Sans";
$st-font-mono: "Fira Code";

$st-fonts-body: $st-font-body, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$st-fonts-mono: $st-font-mono, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
$st-fonts-headings: $st-font-headings, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Bootstrap Overrides

//// Color
$theme-colors: $st-colors;
$white: $st-white;
$body-color: $st-dark;

//// Typography
$font-family-sans-serif: $st-fonts-body;
$font-family-monospace: $st-fonts-mono;
$font-headings: $st-fonts-headings;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

// $font-weight-lighter: lighter;
// $font-weight-light: 200;
// $font-weight-normal: 300;
// $font-weight-bold: 600;
// $font-weight-bolder: bolder;
$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-font-family: $font-headings;
$headings-font-weight: 800;
$headings-color: $st-white;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;

//// Borders
$border-width: 1px;
$card-border-width: $border-width;
$border-radius: 0.5rem;
$border-radius-lg: 0.7rem;
$border-radius-sm: 0.4rem;

//// Buttons
$input-btn-focus-box-shadow: none;

// App Styles

//// Spacing
$hero-btn-margin-x: 0.5rem;

//// Navigation
$nav-card-background: rgba(0, 0, 0, 0.2);
$nav-card-color: $st-white;
$nav-card-border-color: rgba($st-white, 0.125);
$nav-card-title-color: $nav-card-color;
$nav-collapse-margin: 2.5rem;
$navbar-bottom-border: $border-width solid $nav-card-border-color;

//// Section Card
$section-card-background: $st-light;
$section-card-title-color: $st-dark;
$section-card-text-color: $st-dark;
$section-card-icon-height: 70px;
$section-card-padding-x: 1.5rem;
$section-card-padding-y: 3rem;
$main-card-margin-top: 3rem;
$main-card-padding: 3rem;
$main-card-title-color: $st-dark;
$main-card-text-color: $st-gray;

//// Footer
// $footer-background: $bg2;
// $footer-background: transparent;
$footer-background: $st-gradient-3;
$footer-color: $st-white;
$footer-heading-size: $font-size-base;
$footer-link-size: $font-size-base * 0.8;

//// Forms
$input-placeholder-color: $st-gray;
$form-error-margin-y: 0.5rem;

//// Spinnner
$spinner-border-width: 0.2em;
$spinner-border-width-sm: 0.1em;
