// Local Variables

$break-xs: map-get($grid-breakpoints, xs);
$break-sm: map-get($grid-breakpoints, sm);
$break-md: map-get($grid-breakpoints, md);
$break-lg: map-get($grid-breakpoints, lg);
$break-xl: map-get($grid-breakpoints, xl);

// Note: See here for weird indented Sass mixin/include syntax:
// https://sass-lang.com/documentation/at-rules/mixin#indented-mixin-syntax

// App Classes

//// Default Classes
body {
    background: $st-background;
}

.heroRow {
    align-items: center !important;
}

.heroCol {
    display: flex;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    height: 100% !important;
}

.heroRow .col {
    display: flex;
}

.navbar-toggler:focus {
    outline: none !important;
}

//// Responsive Size-Specific Classes

// Small Devices and Smaller
@include media-breakpoint-down(sm) {
    // Widen navbar container on small devices
    #navbar > .container {
        max-width: none !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    // Remove card border on small devices
    .navbar .card {
        border: none !important;
    }

    // Add vertical margin for hero/main cards on small devices
    .heroCol:not(:first-child) {
        margin-top: $main-card-margin-top !important;
    }
}
// Small Devices and Larger
@include media-breakpoint-up(sm) {
    // Add size-appropriate vertical margin for info sections on small devices
    .infoSection {
        margin-top: ($break-sm / 4) !important;
    }
}
// Medium Devices and Larger
@include media-breakpoint-up(md) {
    // Set size-appropriate height for hero row
    .heroRow {
        height: ($break-md/4) !important;
    }

    // Add size-appropriate vertical margin for info sections on small devices
    .infoSection {
        margin-top: ($break-md / 4) !important;
    }

    // Set normal container sizes for medium+ devices
    #navbar > .container {
        @include make-container();
    }
}
// Large Devices and Larger
@include media-breakpoint-up(lg) {
    // Set size-appropriate height for hero row
    .heroRow {
        height: ($break-lg/4) !important;
    }
    // Add size-appropriate vertical margin for info sections on small devices
    .infoSection {
        margin-top: ($break-lg / 4) !important;
    }
}
// Extra Large Devices and Larger
@include media-breakpoint-up(xl) {
    // Set size-appropriate height for hero row
    .heroRow {
        height: ($break-xl/4) !important;
    }

    // Add size-appropriate vertical margin for info sections on small devices
    .infoSection {
        margin-top: ($break-xl / 4) !important;
    }
}

// Dependency Classes

//// React-Slide Fixes
.react-reveal {
    display: flex !important;
    flex-grow: 1 !important;
}
