@import "./variables.scss";

:export {
    stPrimary: $st-primary;
    stSecondary: $st-secondary;
    stDanger: $st-danger;
    stWarning: $st-warning;
    stLight: $st-light;
    stDark: $st-dark;
    stWhite: $st-white;
    stGray: $st-gray;
    stBackground: $st-background;
    mapFill: $map-fill;
    mapStroke: $map-stroke;
    globeStroke: $globe-stroke;
    mapText: $map-text;
    stGradient: $st-gradient;
    stGradient1: $st-gradient-1;
    stGradient2: $st-gradient-2;
    breakXs: $break-xs;
    breakSm: $break-sm;
    breakMd: $break-md;
    breakLg: $break-lg;
    breakXl: $break-xl;
    containerMaxWidthSm: $container-max-width-sm;
    containerMaxWidthMd: $container-max-width-md;
    containerMaxWidthLg: $container-max-width-lg;
    containerMaxWidthXl: $container-max-width-xl;
    locCardPaddingX: $loc-card-padding-x;
    locCardPaddingY: $loc-card-padding-y;
    locCardWidth: $loc-card-width;
    locCardHeight: $loc-card-height;
    locCardBackground: $loc-card-background;
    locCardTitleColor: $loc-card-title-color;
    locCardTextColor: $loc-card-text-color;
    fontWeightLight: $font-weight-light;
    fontWeightNormal: $font-weight-normal;
    fontWeightBold: $font-weight-bold;
    fontSizeBase: $font-size-base;
    fontSizeLg: $font-size-lg;
    fontSizeSm: $font-size-sm;
    locCardSubtitleColor: $loc-card-subtitle-color;
    locCardMarginSmY: $log-card-margin-sm-y;
    cardBorderWidth: $card-border-width;
    navCardBorderColor: $nav-card-border-color;
    gridGutterWidth: $grid-gutter-width;
}
