@import "~styles/_variables.scss";

.sectionOne {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.sectionGeneric {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
