@import "~styles/_variables.scss";

.sectionOne {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.sectionGeneric {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.GlobeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.GlobeSvg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: $break-sm) {
    .MapContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

// @media (min-width: $break-md) { ... }

@media (min-width: $break-lg) {
    .MapContainer {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}
// @media (min-width: $break-xl) { ... }
