@import "~styles/_variables.scss";

.sectionOne {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.sectionGeneric {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.GlobeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.GlobeSvg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.MapSvgInline {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@media (min-width: $break-sm) {
    .MapContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

// @media (min-width: $break-md) { ... }

@media (min-width: $break-lg) {
    .MapContainer {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}
// @media (min-width: $break-xl) { ... }

.locationCard {
    text-align: left;
    flex: 0 1 auto !important;
    flex-direction: column;
    width: $loc-card-width;
    height: 100%;
    background-color: $loc-card-background !important;
    // margin-left: $loc-card-margin-x !important;
    // margin-right: $loc-card-margin-x !important;
}

.locationCardTop {
    display: flex;
    justify-content: space-between;
    padding: $loc-card-padding-x $loc-card-padding-y !important;
}

.locationCardBottom {
    padding-right: $loc-card-padding-x !important;
    padding-left: $loc-card-padding-x !important;
    padding-bottom: $loc-card-padding-y !important;
}

.locationCardTitle {
    display: flex;
    align-self: center;
    flex: 0 1 auto;
    color: $loc-card-title-color;
    vertical-align: middle;
}

.locationFlag {
    flex: 1 0 auto;
    clip-path: circle();
    -webkit-clip-path: circle();
    -moz-clip-path: circle();
    -o-clip-path: circle();
}

.locationFlagBox {
    display: flex;
    flex: 0 1 auto;
}

.locationCardText {
    color: $loc-card-text-color;
}
